In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv("classification_train.csv")
df

,Unnamed: 0,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,4,0,0,0,0,0,0,0,0,...,70,27,0,0,0,0,0,0,0,0
2,2,1,0,0,0,0,0,0,0,0,...,35,0,0,0,0,0,0,0,0,0
3,3,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,2,0,0,0,0,1,0,3,0,...,2,0,0,91,117,7,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29995,3,0,0,0,0,0,0,0,0,...,13,192,150,0,0,0,0,0,0,0
29996,29996,4,0,0,0,0,0,0,0,0,...,2,0,11,179,167,105,0,0,0,0
29997,29997,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29998,29998,4,0,0,0,0,1,0,0,0,...,1,1,0,106,163,170,67,0,0,0
29999,29999,6,0,0,0,1,0,0,0,0,...,77,69,86,102,0,0,0,0,0,0

In [2]:
df=df.drop("Unnamed: 0",axis=1)

In [3]:
x_train=np.array(df.loc[0:999,"pixel1":])
x_train.shape
y_train=np.array(df.loc[0:999,'label'])
x_test=np.array(df.loc[1000:,"pixel1":])
y_test=np.array(df.loc[1000:,"label":])

In [4]:
def dist(x,x1):
    return np.sqrt(np.sum((x-x1)**2))
#x=np.linspace(1,100,784)
'''distance=[]
for i in range(1000):
    
    distance.append(np.sqrt(np.sum((x_train[i]-x)**2)))
y=np.array(distance)
y1=y.argsort()[:5]
labels=y_train[y1]
labels'''

'distance=[]\nfor i in range(1000):\n    \n    distance.append(np.sqrt(np.sum((x_train[i]-x)**2)))\ny=np.array(distance)\ny1=y.argsort()[:5]\nlabels=y_train[y1]\nlabels'

In [5]:
distance=np.zeros((x_test.shape[0],x_train.shape[0]))
for i in range(x_train.shape[0]):
    for j in range(x_test.shape[0]):
        distance[j][i]=np.sqrt(np.sum((x_train[i]-x_test[j])**2))

In [19]:
distance1=distance.argsort()
distance1

array([[511,   2, 146, ..., 169, 229, 600],
       [907, 288, 101, ..., 896, 813, 269],
       [485, 877, 305, ..., 319, 503, 600],
       ...,
       [323, 913, 537, ..., 810, 813, 722],
       [968,  48, 284, ..., 722, 652, 600],
       [562, 556, 438, ..., 539, 807, 600]])

In [54]:
y1=y_train[distance1]
y1=pd.DataFrame(y1)
y1

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1,1,6,6,3,1,1,4,4,1,...,8,8,8,8,6,6,8,8,8,8
1,9,9,9,9,9,9,9,9,9,9,...,0,3,2,4,0,6,0,0,0,6
2,8,8,3,8,8,6,8,6,8,8,...,6,8,8,8,4,8,2,4,2,8
3,1,1,1,1,1,1,1,1,1,1,...,8,8,8,6,8,8,8,5,8,8
4,9,9,9,9,9,9,7,9,9,9,...,6,2,2,6,6,6,8,8,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28995,3,4,6,4,4,4,4,4,4,4,...,5,5,5,5,5,5,5,5,5,5
28996,4,2,2,4,4,4,4,4,4,2,...,5,5,5,5,8,5,5,5,5,5
28997,9,9,9,9,7,9,9,9,9,9,...,6,6,2,6,8,4,0,6,0,6
28998,6,2,6,6,6,4,4,6,6,6,...,8,8,0,8,8,8,6,6,8,8
28999,0,0,0,3,0,0,0,0,6,0,...,7,7,8,5,8,5,5,8,8,8

In [55]:
y1=y1.iloc[:,0:3]

In [56]:
y1=y1.mode(axis=1).iloc[:,0]

In [57]:
y1

0        1.0
1        9.0
2        8.0
3        1.0
4        9.0
        ...
28995    3.0
28996    2.0
28997    9.0
28998    6.0
28999    0.0
Name: 0, Length: 29000, dtype: float64

In [58]:
count=0
y_test1=np.array(df.loc[1000:,'label'])
for i in range(x_test.shape[0]):
    if y1[i]==y_test1[i]:
        count+=1
print(count/y_test.shape[0])

0.7426206896551724

In [80]:
y_test

array([[1, 0, 0, ..., 0, 0, 0],
       [9, 0, 0, ..., 0, 0, 0],
       [8, 0, 0, ..., 0, 0, 0],
       ...,
       [9, 0, 0, ..., 0, 0, 0],
       [4, 0, 0, ..., 0, 0, 0],
       [6, 0, 0, ..., 0, 0, 0]])